*{
    margin: 0;
    padding: 0;
}
.big{
    width: 1226px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.double{
    width: 1226px;
    height: 460px;
    position: relative;
}
.nan-left{
    position: absolute;
    height: 420px;
    padding: 20px 0;
    background-color: rgba(105,101,101,.6);
    z-index: 100;
}
.nan-left a{
    display: block;
    width: 214px;
    height: 42px;
    padding-left: 20px;
    line-height: 42px;
    color: #ffffff;
    font-size: 14px;
}
.nan-left p{
    float: right;
    /* color: #000; */
    font-size: 20px;
    padding-right: 20px;
}
.nan-left a:hover{
    background-color: #ff6700;
}
.banner{
    width: 1226px;
    height: 460px;
    position: relative;
}
.banner img{
    width: 1226px;
    height: 460px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0.02;
}
.prev{
    position: absolute;
    left: 250px;
    top: 50%;
    z-index: 99;
    margin-top: -12px;
    width: 40px;
    height: 70px;
    cursor: pointer;
    background: url('../img/icon-slides.png')83px;
}
.prev:hover{
    background: url('../img/icon-slides.png')168px;
}
.next{
    position: absolute;
    right: 5px;
    top: 50%;
    z-index: 99;
    margin-top: -12px;
    width: 40px;
    height: 70px;
    cursor: pointer;
    background: url('../img/icon-slides.png')40px;
}
.next:hover{
    background: url('../img/icon-slides.png')124px;
}
.num{
    overflow: hidden;
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 99;
}
.num li{
    list-style: none;
    float: left;
    width: 5px;
    height: 5px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 5px;
    background-color: #eee;
}
.main .show{
    z-index: 10;
}
.num .active{
    background-color: lightblue;
}
.nan-bot{
    width: 1226px;
    height: 170px;
}
#bvt{
    width: 234px;
    height: 170px;
    background-color: #5f5750;
    float: left;
    margin-top: 20px;
}
#bvt li{
    list-style: none;
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
    border-left: 1px solid #333333;
    border-bottom: 1px solid #333333;
}
#bvt a{
    display: block;
    width: 70px;
    height: 64px;
    /* padding: 5px; */
    text-align: center;
    color: #333333;
}
#bvt a:hover{
    color: #fff;
}
#bvt img{
    width: 24px;
    height: 24px;
    padding-left: 10px;
}
.nan-bot img{
    display: block;
    width: 316px;
    height: 170px;
    float: left;
    margin: 20px 0px 0px 14px;
}
.miao{
    width: 1226px;
    height: 340px;
    margin: 0 auto;
}
.miao h2{
    margin-bottom: 16px;
    display: block;
    width: 1226px;
    position: relative; 
    /* font-size: 20px;    */
    font-weight: normal;
}
#io span{
    border: #b0b0b0 1px solid;
    width: 34px;
    height: 22px;
    text-align: center;
    line-height: 20px;
    background-color: #fff;
    color: #b0b0b0;
    
}
#io span:nth-child(1){
    position: absolute;
    right: 40px;
    top: 10px;
}
#io span:nth-child(2){
    position: absolute;
    right: 5px;
    top: 10px;
}
.iten{
    width: 234px;
    height: 339px;
    border-top: red solid 1px;
    background-color: #f1eded;
    float: left;
}
.chang{
    color: red;
    margin: 60px 32% 20px 32%;
    font-size: 20px;
}
.iten img{
    padding: 10px 40%;
}
.daoji{
    padding: 10px 25% 20px 25%; 
}
.miao i{
    /* list-style: none; */
    font-style: normal;
    font-weight: normal;
    display: block;
    float: left;
    margin-top: 10px;
}
.it{
    display: block;
    width: 46px;
    height: 46px;
    background-color: #605751;
    color: #fff;
    float: left;
    font-size: 30px;
    text-align: center;
    line-height: 46px;
    
}
#op{

    margin-left: 32px;
}
.wind{
    width: 990px;
    height: 340px;
    float: left;
    overflow: hidden;
}
.bing{
    width: 3000px;
    height: 340px;
}
.bing a{
    display: block;
    width: 234px;
    height: 339px;
    border-top: blue solid 1px;
    float: left;
    margin-left: 12px;
}
.bing img{
    padding: 38px;
    padding-top: 60px;
    
}
.bing h3{
    font-weight: normal;
    text-align: center;
    font-size: 14px;
    color: #000;
}
.bing p{
    font-size: 12px;
    text-align: center;
    color: #bbb;

}
.bing span{
    color: chocolate;
    
}
.bing span,del{
    font-size: 14px;
}
.gos{
    width: 1226px;
    display: block;
    margin: 34px auto;
}
.byphone{
    width: 1226px;
    margin: 0 auto;
}
.titl{
    font-weight: normal;
    width: 1226px;
    position: relative;
    height: 58px;
    line-height: 58px;
}
.alla{
    display: block;
    position: absolute;
    right: 0px;
    font-size: 18px;
    top: 20px;
    padding-right: 10px;
    color: #000;
}
.alla:hover{
    color: #ff6700;
    
}
.alla i{
    font-weight: normal;
    font-style: normal;
    display: block;
    float: right;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #aaa;
    text-align: center;
    color: #fff;
    line-height: 18px;
    margin-top: 20px;
    margin-left: 10px;
}
.alla i:hover{
    background: #ff6700;

}
.hone{
    float: right;
    width: 992px;
    height: 614px;
}
.phone{
    height: 260px;
    padding: 20px 0;
    width: 234px;
    list-style: none;
    float: left;
    margin-left: 14px;
    margin-bottom: 14px;
    transition: all .2s linear;
}
.phone:hover{
    z-index: 2;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    transform: translate3d(0,-2px,0);
}
.phone img{
    margin: 10px 34px;
}
.phone h3{
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #000;
}
.small{
    font-size: 12px;
    color: #aaa;
    text-align: center;
    padding-top: 10px;
}
.jiage{
    text-align: center;
    padding-top: 10px;
}
.jiage span{
    
    font-size: 14px;
    color: #ff6700;
}