*{
    margin: 0;
    padding: 0;
}
.big{
    width: 1226px;
    margin: 0 auto;
}
.double{
    width: 1226px;
    height: 460px;
    position: relative;
}
.nan-left{
    position: absolute;
    height: 420px;
    padding: 20px 0;
    background-color: rgba(105,101,101,.6);
    z-index: 100;
}
.nan-left a{
    display: block;
    width: 214px;
    height: 42px;
    padding-left: 20px;
    line-height: 42px;
    color: #ffffff;
    font-size: 14px;
}
.nan-left p{
    float: right;
    /* color: #000; */
    font-size: 20px;
    padding-right: 20px;
}
.nan-left a:hover{
    background-color: #ff6700;
}
.banner{
    width: 1226px;
    height: 460px;
    position: relative;
}
.banner img{
    width: 1226px;
    height: 460px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0.02;
}
.prev{
    position: absolute;
    left: 250px;
    top: 50%;
    z-index: 99;
    margin-top: -12px;
    width: 40px;
    height: 70px;
    cursor: pointer;
    background: url('../img/icon-slides.png')83px;
}
.prev:hover{
    background: url('../img/icon-slides.png')168px;
}
.next{
    position: absolute;
    right: 5px;
    top: 50%;
    z-index: 99;
    margin-top: -12px;
    width: 40px;
    height: 70px;
    cursor: pointer;
    background: url('../img/icon-slides.png')40px;
}
.next:hover{
    background: url('../img/icon-slides.png')124px;
}
.num{
    overflow: hidden;
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 99;
}
.num li{
    list-style: none;
    float: left;
    width: 5px;
    height: 5px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 5px;
    background-color: #eee;
}
.main .show{
    z-index: 10;
}
.num .active{
    background-color: lightblue;
}
.nan-bot{
    width: 1226px;
    height: 170px;
}
#bvt{
    width: 234px;
    height: 170px;
    background-color: #5f5750;
    float: left;
    margin-top: 20px;
}
#bvt li{
    list-style: none;
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
    border-left: 1px solid #333333;
    border-bottom: 1px solid #333333;
}
#bvt a{
    display: block;
    width: 70px;
    height: 64px;
    /* padding: 5px; */
    text-align: center;
    color: #333333;
}
#bvt a:hover{
    color: #fff;
}
#bvt img{
    width: 24px;
    height: 24px;
    padding-left: 10px;
}
.nan-bot img{
    display: block;
    width: 316px;
    height: 170px;
    float: left;
    margin: 20px 0px 0px 14px;
}